.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.DS_Store
Data Viz Reader.Rmd
libs/gitbook-2.6.7/css/fontawesome/fontawesome-webfont.ttf
libs/gitbook-2.6.7/css/plugin-bookdown.css
libs/gitbook-2.6.7/css/plugin-fontsettings.css
libs/gitbook-2.6.7/css/plugin-highlight.css
libs/gitbook-2.6.7/css/plugin-search.css
libs/gitbook-2.6.7/css/style.css
libs/gitbook-2.6.7/js/app.min.js
libs/gitbook-2.6.7/js/jquery.highlight.js
libs/gitbook-2.6.7/js/lunr.js
libs/gitbook-2.6.7/js/plugin-bookdown.js
libs/gitbook-2.6.7/js/plugin-fontsettings.js
libs/gitbook-2.6.7/js/plugin-search.js
libs/gitbook-2.6.7/js/plugin-sharing.js
libs/jquery-2.2.3/jquery.min.js
Data Viz Reader.Rmd
